body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', 'Avenir';
}

.container {
    width: 660px;
    margin: 20px auto;
}

h1 {
    color: #fff;
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    background-color: steelblue;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}


/* span{
	color: #fff;
} */

.square {
    width: 30%;
    background: purple;
    /*  padding allows color fill when div has no content*/
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    --webkit-transition: background 0.6s;
    --moz-transition: background 0.6s;
}

#stripe {
    background: #fff;
    height: 30px;
    text-align: center;
}

.selected {
    color: #fff;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    --webkit-transition: all 0.4s;
    --moz-transition: all 0.4s;
}

button:hover {
    color: #fff;
    background: steelblue;
}

button:focus {
    outline: none;
}
